
@import './variables';
@import './mixins';

//! NOTES ON COMPONENT STYLING SASS
//* You can also import component-specific SASS files in your main.scss file.
//* These imports will automatically apply styles to the corresponding components when they are used.
//? Import component-specific styles
//? @import '../pages/home/Home.scss';
//? @import '../pages/decision-new/DecisionNew.scss';
//! END NOTES ON COMPONENT STYLING SASS

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: $global-bg-color;
    @include global-font;
    overflow-x: hidden;
    // background-image: $bg-waves-orange-svg;
}

  