@import '../../styles/variables'; 
@import '../../styles/mixins';

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    padding: 10px;

    h1 {
        font-size: 2.5rem;
        text-align: center;
        color: #ffffff;
        text-shadow: 2px 2px black;
        margin-bottom: 0;
    }

    p {
        text-align: center;
        padding: 10px;
        color: #ffffff;
        text-shadow: 2px 2px black;
    }

    /* Media Query for Small Screens (e.g., smartphones) */
    @media (max-width: $small-screen-max-width) {
        h1 {
            font-size: 2rem; /* Adjust the font-size for small screens */
        }
    }

    /* Media Query for Medium Screens (e.g., tablets) */
    @media (min-width: $medium-screen-min-width) and (max-width: $medium-screen-max-width) {
        h1 {
            font-size: 3rem; /* Adjust the font-size for medium screens */
        }
    }

    /* Media Query for Large Screens (e.g., desktops) */
    @media (min-width: $large-screen-min-width) {
        h1 {
            font-size: 2.8rem; /* Adjust the font-size for large screens */
        }
    }
}

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
}

.getStartedButton {
    background-color: $get-started-button-color;
    color: #ffffff;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: background-color 0.15s, box-shadow 0.15s;
    
    &:hover {
        background-color: $get-started-button-color-hover;
        box-shadow: 6px 4px 4px 2px rgba(0, 0, 0, 0.25);
      }
}
