@import "../../styles/variables";
@import "../../styles/mixins";

.input-styled {
  @include input-style;
}

.input-styled::placeholder {
  text-align: center;
  color: #5f561b;
}

.newDecisionInputContainer * {
  box-sizing: border-box;
}

.newDecisionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  h1,
  h3,
  p {
    color: #ffffff;
    text-align: center;
  }
}

.newDecisionInputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 35dvw;
  height: 20dvh;

  input {
    margin-bottom: 0.5rem;
  }

  @media (max-width: $small-screen-max-width) {
    min-width: 80dvw;
  }
}

.newDecisionInputContainer > * {
  width: 100%;
}

.makeGroupButton {
  background-color: $make-group-button-color;
  color: #381d2a;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: background-color 0.15s, box-shadow 0.15s;

  &:hover {
    background-color: #8aa664;
    box-shadow: 4px 2px 3px 2px rgba(0, 0, 0, 0.25);
    color: #000000;
  }
}
